.adimContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    background-color: #FAFAFA;
    
}

.adminBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 70px;
}

.newProfiles{
    display: flex;
    flex-direction: row;
    background-color: #4E169D;
    color: #FAFAFA;
    border-radius: 8px;
    padding:8px;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-between;
    font-size: 25px;
    width: 85%;
}

.boxCalculosContainer{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
  }

.boxCalculos{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-around;

}
.box {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  .colorAceptado{
   border: 2px solid #1D9129;
  }
  
  .colorRevicion{
   border: 2px solid #B86B11;
  }
  .colorDenegado{
   border: 2px solid #BC1111;
  }

  .box> p {
    position: relative;
  }
  
  .box > .title {
    font-size: 16px;
    padding: 4px;
    font-size: 18px;
    font-weight: 500px;
  }

  .box>.count{
    padding: 4px;
    font-size: 18px;
    font-weight: 700px;

  }
  
  .colorAceptado .title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: #1D9129;
  }
  .colorDenegado .title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: #BC1111;
  }
  .colorRevicion .title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: #B86B11;
  }



  
.boxBorderRevision{
    border:2px solid ;
    border-color: #B86B11;
    border-radius: 8px;
    gap: 2px;
    padding: 8px;
}

.boxBorderDenegados{
    border:2px solid ;
    border-color: #BC1111;
    border-radius: 8px;
    gap: 2px;
    padding: 8px;
}