.carrousel-container {
  margin-bottom: 20px;
}

.carrousel-img {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.carrousel-img img {
  width: 100%;
  max-width: 304px;
  height: auto;
  position: relative;
}

.slick-arrow {
  color: black !important;
  /* position: absolute; */
}

.slick-next {
  right: 25px !important;
  color: #4e169d !important;
}

.slick-next::before {
  color: #4e169d !important;
}

.slick-prev {
  left: 25px !important;
  z-index: 10;
  color: #4e169d !important;
}

.slick-prev::before {
  left: 25px !important;
  /* z-index: 10; */
  color: #4e169d !important;
}

/* npm install react-slick
npm install slick-carousel --save */
