.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
}

#inicio {
  margin-top: 60px;
  background-image: url(../../backgrounds/manos-background.png);
  background-repeat: no-repeat;
  background-size: 400px 100%;
  height: 70vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*BACKGROUND STYLES*/

#inicio:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(41, 41, 41, 0.6);
}

/*TEXT STYLES*/

#title {
  position: relative;
  padding: 0 100px 0 20px;
}

#inicio p,
#inicio h1 {
  text-align: start;
  color: white;
  font-weight: 500;
}

#inicio p {
  font-size: 20px;
  padding-bottom: 0;
}

@media (min-width: 361px) {
  #inicio {
    background-size: 600px 100%;
  }
}

@media (min-width: 598px) {
  #inicio {
    background-size: 700px 100%;
  }
}

@media (min-width: 700px) {
  #inicio {
    background-size: cover;
  }
}

.search-results-screen {
  min-width: 360px;
  max-width: 100%;
  display: flex;
  margin-top: 60px;
  flex-direction: column;
}

.search-results-title-container {
  width: 100%;
  margin-top: 15px;
  display: flex;
  text-align: center;
  min-width: 328px;
}

.search-results-title-container > .search-results-title {
  width: 100%;
  font-size: 24px;
  text-align: center;
}

.no-results-container {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-results-grid {
  min-width: 360px;
  max-width: 100%;
  display: grid;
  margin: 32px 0;
  grid-template-columns: repeat(auto-fill, minmax(328px, 1fr));
  grid-auto-rows: minmax(312px, max-content);
  column-gap: 16px;
  row-gap: 16px;
  padding: 8px 16px;
  box-sizing: border-box;
}

@media screen and (min-width: 900px) {
  .search-results-grid {
    margin: 0 auto;
    min-width: 100%;
  }
}

.search-results-container {
  display: flex;
  justify-content: center;
}
